:root{
  --main-bg-color: #07063B;
  --lite-color: #D8ECE1;
  --dark-color: #3A3AF2;
  --button-bg-color: #6495ED;
  --white-bg-cards: #F0FFFF;
  --titles-color: #3F82FB;
}

body {
  background-color: var(--main-bg-color);
  font-family: Montserrat, Helvetica, Arial;
}


input{
  margin-top: 2rem;
  font-size: 1.5rem;
  height: 40px;
  padding: 5px 5px 10px;
  border: 0px solid #222;
  background-color: #333;
  color: #fff;
  border-radius: 0px;
  width: 100%;
    text-algin: center;

}

input::placeholder {
  color: var(--placeholder-color);
}

button {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 2rem;
  background-color: var(--dark-color);
  color: #ffffff;
  border: 0px solid #6495ED;
  text-algin: center;
}

.card {
  background-color: var(--white-bg-cards);
  border-radius: 0.5rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0 41px 8px 0 rgb(0 0 0 / 50%);
  text-algin: center;
}

.container {
  display: grid;
  place-items: center;
}

h1{
  color: var(--titles-color);
  text-align: center;
  letter-spacing: 1px;

}
h2{
  color: var(--titles-color);
  text-align: center;
  letter-spacing: 1px;

}

#grad1 {
  height: auto;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(#D8ECE1, #E0E0FF);
}