:root{
  --main-bg-color: #F2F8F5;
  --lite-color: #D8ECE1;
  --dark-color: #3A3AF2;
  --button-bg-color: #6495ED;
  --white-bg-cards: #F0FFFF;
  --titles-color: #030351;
}

body {
  background-color: var(--main-bg-color);
  font-family: Montserrat, Helvetica, Arial;
}


input{
  margin-top: 2rem;
  font-size: 1.5rem;
  height: 40px;
  padding: 5px 5px 10px;
  border: 1px solid #666666;
  background: none;
  outline: none;
  color: inherit;
  border-radius: 10px;
  width: 70%;
}

input::placeholder {
  color: var(--placeholder-color);
}

button {
  width: 70%;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 2rem;
  background-color: var(--dark-color);
  color: #ffffff;
  border: 1px solid #6495ED;

}

.card {
  background-color: var(--white-bg-cards);
  border-radius: 0.5rem;
  padding: 25px;
  box-shadow: 0 41px 8px 0 rgb(0 0 0 / 50%);
  text-align: center;
}

.container {
  display: grid;
  place-items: center;
}

h1{
    color: var(--titles-color);

}